.theButton {}
.theInput {}
.list {background-color: green;
    border-style: dotted;
    width: 300px;
    display: inline-block;
}
li:hover {
        font-weight: bold;
        cursor: pointer;
    }

.li {height: 200px;}
.str {text-decoration: line-through;}